<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
        <listener class-name="resources.ExtentReporterNG"/>
    </listeners>
  <test name="RestAPI">
    <classes>
      <class name="RestAssured.basic"/>
      <class name="RestAssured.basic2"/>
      <class name="RestAssured.basic3"/>
      <class name="RestAssured.basic4"/>
      <class name="RestAssured.basic5"/> 
      <class name="RestAssured.basic6"/>   
      <class name="RestAssured.excelDriven"/>
      <class name="RestAssured.JiraTestBasic1"/>
      <class name="RestAssured.Twitter"/>
    </classes>
  </test> <!-- RestAPI -->
</suite> <!-- Suite -->
